@media screen and (min-width: 801px){

.menu{
    display: none;
}

li {
    display: flex;
    justify-content: space-evenly;
}

.forecast{
    display: inline-block;
}

ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
button{
    display: none;
}

.grid{
    grid-template-columns: 1fr 1fr 1fr;
}

.hover:hover{
    background-color: yellow;
}

}