* { margin: 0; box-sizing: border-box; } 

head{
    background-color: blueviolet;
}


body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: "Times New Roman", Times, serif;
    color: green;
}

h1 {
    font-size: 20px;
    color: #2f1260;
}

h2 {
    font-size: 12px;
    text-align: center;
    border-bottom: 5px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 100%;
}

header, footer, footer a {
    text-align: center;
    background-color: black;
    color: blue;
}

header img {
    width: 100px;
    height: auto;
    float: center;
}

footer {
    font-size: 10px;

}