/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: black;
}

h1 {
    font-size: 3rem;
    color: rgb(22, 21, 21);
    padding-bottom: .5rem
}

h2 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: 1rem;
    max-width: 999px ;
}

header, footer, footer a {
    text-align: left;
    background-color: rgb(16, 102, 189);
    color: whitesmoke;
}

header img {
    width: 25%;
    float: right;
    border-radius: 50%;
   /* border-color: deeppink;
    border: 5rem; */
}

footer {
    font-size: 10pt;
}

main {

}