/* Delete these CSS comments after reading. */

/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #7f7f7f;
}

body {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

header,
nav,
main,
footer {
    max-width: 1200px;
}

header {}

.hamburger {
    display: block;
    position: absolute;
    top: 2.0rem;
    right: 1.25rem;
}

.navigation {
    list-style: none;
    padding-left: 0;
}

.navigation li {
    display: block;
}


nav ul.hide {
    display: none;
}


header h1 {}

header img {}

header .subheading {}

nav {}

nav button {}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7f7f7f;
    min-width: 100%;
}

nav ul li {
    display: inline;
    min-width: 100%;
}

nav ul li a {
    display: block;
    padding: 1rem;
    text-align: center;
}

nav ul li.active a {}

nav ul li a:hover {
    background-color: yellow;
}



main {
    text-align: center;
}

.highlow {
    text-align: left;
}

.conditions {
    padding-top: 1rem;
    text-align: left;
}

.current {
    padding: 3rem 0 3rem 0;
}

.weather-summary {
    max-width: 70%;
    background: yellow;
}

section.forecast {
    display: none;
}

article {}

.town-article {
    display: flex;
    justify-content: flex-start;
    max-width: 30rem;
}


main h2 {
    text-align: center;
    padding-bottom: 2rem;
}

main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

main figure img {}

.contact {
    text-align: center;
}

.footer-bar {
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
}

footer {
    bottom: 0;
    width: 100%;
}
