@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    nav ul {
        display: inline;
    }
    button.ham {
        display: none;
    }

    .hamburger {
        display: none;
    }
    .navigation {
        background-color: #333;
        overflow: hidden;
        text-align: center;
    }
    .navigation li {
        display: inline-block;
        margin-left: .25rem;
    }
    .navigation a {
        display: block;
        color: #eee;
        padding: .5rem;
        text-align: center;
        text-decoration: none;
    }
    .navigation a:hover {
        color: #000;
        background-color: #777;
    }
}

section.forecast {
    display: block;
}