@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    nav ul {
        display: flex;
        flex-direction: row;
    }
    nav ul li {
        /*        display: inline;*/
        min-width: 15%;
    }

    button.ham {
        display: none;
    }
    nav ul.hide {
        display: flex;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        background-color: #333;
        overflow: hidden;
        text-align: center;
    }
    .navigation li {
        /*        display: inline-block;*/
        margin-left: .25rem;
    }
    .navigation a {
        display: block;
        color: #eee;
        padding: .5rem;
        text-align: center;
        text-decoration: none;
    }
    .navigation a:hover {
        color: #000;
        background-color: #777;
    }
    section.forecast, table, th, td{
        background-color: #ffff60;
        padding-bottom: .5rem;
        margin-bottom: 1rem;
    }
}

