@media screen and (min-width: 801px){

.menu{
    display: none;
}

li {
    display: flex;
    justify-content: space-evenly;
}

.forecast{
    display: flex;
}

ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

article{
    grid-template-columns: 65% 35%;
}

.totalweather{
grid-template-columns: 30% 70%;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
button{
    display: none;
}

.grid{
    grid-template-columns: 1fr 1fr 1fr;
}

.hover:hover{
    background-color: yellow;
}

}