*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    font-size: 50px;
}


table, tr, td, th {
    border: .1px solid grey;
} 

td{
    text-align: center;
}

tbody tr th{
    font-weight: bold;
}

tbody tr:nth-child(1){
    color: white;
    background-color: #628ca6;
}

tr :nth-of-type(1n+0){
    /* width: 100px; */
    padding: 25px;
}

tr:nth-of-type(2n+0){
    background-color: #e7f0ed;
}

tr:nth-of-type(2n+1){
    background-color: #e7ffed;
}

tbody :nth-child(5){
    font-style: italic;
}

tbody td:nth-child(2){
    font-style: normal;
}

.labels{
    color: white;
    background-color: #628ca6;
}

thead tr td{
    font-size: 75px;
    font-weight: bold;
}

tfoot tr td{
    font-size: 40px;
}

thead tr td, tfoot tr td  {
    background-color: #7fb9c2;
}

.color { color:#e7f0ed}
.color2 { color:#e7ffed}
.color2 { color:#628ca6}
.color2 { color:#7fb9c2}
